*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D0F6FF;
}

.logo{
    width: 220px;
    height: 60px;
}


.welcome{
    margin-top: 150px;
    text-align: center;
}

.welcome h2{
    color: #21B7E2;
    font-size: 25px;
    margin-bottom: 30px;
}

.welcome h1{
    color: black;
    font-size: 55px;
    margin-bottom: 10px;
}

.welcome h3{
    color: black;
    font-size: 25px;
}

.image-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: -150px;
    width: 1200px;
    height: 300px;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #AC7676;
    background-color: #f3ffff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    transition: 0.5s top ease-in-out;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4rem;
    margin-right: 10rem;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
    padding: 4px 0;
    font-size: 24px;
    transition: all;
    transition-duration: 300ms;
}

nav div img{
    width: 288px;
    height: 56px;
    display: flex;
    padding-top: 5px;
}

nav ul li a:hover{
    border-bottom: 1px solid white;
    color: rgb(164, 241, 255);
}

.menu-icon{
    font-size: 28px;    
    display: none;
    color:white;
}

@media only screen and (max-width : 768px){
    nav{
        flex-wrap: wrap;
    }

    nav ul {
    flex-direction: column;
    width: 100%;
    }


    nav ul.hidden{
        display: none;
    }

    .menu-icon{
        display: flex;
        align-items: center;
    }
}



